* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: white;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    align-items: center;
}

.menu a {
    color: black;
    padding: 0px 45px;
    float: left;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.Home {
    margin-top: 60px;
    font-family: Arial;
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all 0.3s ease;
}

.Home:hover {
    color: blue;
    border-bottom-color: blue;
    transform: translateZ(0) scale(1.1);
}

.Produtos {
    margin-top: 60px;
    font-family: Arial;
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all 0.3s ease;
}

.Produtos:hover {
    color: blue;
    border-bottom-color: blue;
    transform: translateZ(0) scale(1.1);
}

.Sobre {
    margin-top: 60px;
    font-family: Arial;
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all 0.3s ease;
}

.Sobre:hover {
    color: blue;
    border-bottom-color: blue;
    transform: translateZ(0) scale(1.1);
}

.Contato {
    margin-top: 60px;
    font-family: Arial;
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all 0.3s ease;
}

.Contato:hover {
    color: blue;
    border-bottom-color: blue;
    transform: translateZ(0) scale(1.1);
}

.Lupa {
    margin-top: 50px;
    font-family: Arial;
    margin-left: 30px;
}

.Carrinho {
    margin-top: 50px;
    font-family: Arial;
}

.Titulo1 {
    font-family: Arial;
    font-size: 50px;
    margin: 30px;
    text-align: center;
    color: rgb(9, 9, 189);
}

.Imagem-da-loja {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    width: 900px;
}

.Titulo2 {
    font-family: Arial;
    font-size: 40px;
    margin: 30px;
    color: rgb(9, 9, 189);
}

.p1 {
    font-size: 30px;
    font-family: Arial;
    margin: 20px;
}

.p2 {
    font-size: 30px;
    font-family: Arial;
    margin: 20px;
}

.Quemsomos {
    color: black;
    background-color: rgb(176, 214, 231);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-family: Arial;
    align-content: flex-start;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
}

.Escolhadaloja {
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    margin: 30px;
    color: rgb(9, 9, 189);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.estrutura {
    flex: 1;
    max-width: 250px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.imgcaixa {
    width: 230px;
}

.entregarapida {
    font-family: Arial;
    font-size: 40px;
    margin: 30px;
    color: rgb(9, 9, 189);
}

.selo-de-qualidade {
    font-size: 150px;
    text-align: center;
}

.titulo-qualidade {
    font-family: Arial;
    font-size: 40px;
    margin: 30px;
    color: rgb(9, 9, 189);
}

.selo-de-seguranca {
    font-size: 150px;
    text-align: center;
}

.titulo-compra-segura {
    font-family: Arial;
    font-size: 40px;
    margin: 30px;
    color: rgb(9, 9, 189);
}

.NossaHistoria {
    color: black;
    background-color: rgb(176, 214, 231);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-family: Arial;
    align-content: flex-start;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
}

.TituloNossaHistoria {
    font-family: Arial;
    text-align: center;
    font-size: 40px;
    margin: 30px;
    color: rgb(9, 9, 189);
}

.p3 {
    font-size: 30px;
    font-family: Arial;
    margin: 20px;
}

.p4 {
    font-size: 30px;
    font-family: Arial;
    margin: 20px;
}

.p5 {
    font-size: 30px;
    font-family: Arial;
    margin: 20px;
}

footer {
    background-color: rgb(24, 0, 173);
    color: white;
    padding: 50px;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


footer .grupo-contatos,
footer .grupo-redes {
    display: flex;
    gap: 30px;
}

footer .container {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .texto-sobreposicao {
    margin: 0;
}

footer a {
    margin: 5px 0;
    color: #ffffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}