.logo {
  max-width: 150px;
}


.container {
  display: flex;
  gap: 20px;
}

.coluna {
  flex: 1;
  padding: 10px;
  border: 1px solid #000;
  border-radius:10px;
  margin: 20px;
  text-align: center;
}
.colunaprincipal {
  flex: 1;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.imgproduto {

  width: 250px;
  height: 220px;
}
.botaoproduto {
   border: 1px solid #2326b8;
  border-radius:5px;
  margin: 20px;
  padding: 10px;
  color: blue;
  
}
.preco{
  color: blue;
}
.botaocategoria{
  color: black;
  padding: 5px 0;
  font-size: 20px;
}