.logo {
  max-width: 150px;
}


.container {
  display: flex;
  gap: 20px;
}

.coluna {
  flex: 1;
  padding: 10px;
  border: 1px solid #000;
  border-radius:10px;
  margin: 20px;
  
}
.colunaprincipal {
   flex: 1;
  padding: 10px;
  margin: 20px;
}

.imgproduto {

  width: 250px;
  height: 220px;
}
.botaoproduto {
   border: 1px solid #000;
  border-radius:5px;
  margin: 20px;
}
