 
header {
background-color: black;
   color: white;
}
 body{
      margin: 0;
      padding: 0; 
    }
.container{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    border: 1px solid yellow;
}